image: node:latest 

services:
  - mongo:latest

cache:
  paths:
    - node_modules/

variables:
  GIT_SSL_NO_VERIFY: 'true'
  MONGODB_VERSION: 5.0.0

before_script:
  - npm install

stages:
  - code standard
  - test

workflow:
  rules:
    - if: $CI_PIPELINE_SOURCE == "merge_request_event"

.Typescript checker:
  stage: code standard
  script:
    - npm run typecheck

.Lint:
  stage: code standard
  script:
    - npm run lint

.Spell checker:
  stage: code standard
  script:
    - npm run cspell

Unit testing:
  stage: test
  script:
    - npm run test
  artifacts:
    reports:
      coverage_report:
        coverage_format: cobertura
        path: .coverage/coverage.txt
